* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    font-size: 16px;
    min-height: 100%;
    background-color: beige;
}
div.image {
    /* background-image: url(https://unsplash.com/photos/0vUimYhadto/download?ixid=MnwxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjc1ODU5MDQx&force=true&w=640);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    height: 100vh;
    width: 600px;
    border: 1px solid purple;
    margin-right: auto;
    background: url(./images/andrei-caliman-0vUimYhadto-unsplash.jpg) center/cover no-repeat white;
}
.image > span {
    font-size: 3rem;
    font-weight: 700;
    background-color: rgba(255, 255, 255, 0.4);
    position: relative;
    top: 30%;
    text-align: center;
    display: block;
}
form {
    align-self: center;
}
.fieldSet {
    display: flex;
    background-color: #fff;
    padding-bottom: 30px;
}
.set1, .set2 {
    width: 50%;
    border: 0;
}
.set1{
    padding-left: 20px;
}
.firstName, .emailAddress, .password, .lastName, .phoneNumber, .confirmPassword {
    display: block;
    margin-top: 10px;
}
.first, .second {
    font-size: 1.5em;
    margin-bottom: 30px;
    padding-left: 20px;
}
.third {
    background-color: #fff;
    padding-left: 20px;
    padding-top: 15px;
}
input[type=text], [type=password], [type=email], [type=tel]{
    height: 25px;
    border: 1px solid black;
    border-radius: 2px;
    padding: 8px;
}
.crt {
    margin: 30px 0px 20px 30px;
    padding: 15px 25px;
    border: 1px solid brown;
    border-radius: 5px;
    background-color: brown;
    color: #fff;
    display: block;
    cursor: pointer;
}
.crt:hover{
    background-color: #c06161;
}
.log{
    margin-left: 30px;
}
.log-in{
    text-decoration: none;
    font-weight:800;
}